.aui {

  //Orange Theme
  .aimprosoft-orange-theme {

    background-color: rgba(255, 98, 51, 0.35);

    /*== Dockbar background ===*/
    &.dockbar-split {
      .dockbar {
        .navbar-inner {
          .nav {
            > li {
              background-color: #FF6233;
              > a {
                background-color: #FF6233;
                >span.user-notifications-count {
                  background-color: #FF6233;
                  border: 1px solid #ff5c02;
                }
              }
            }
          }
          .nav-add-controls {
            > li {
              background-color: #FF6233;
              > a {
                background-color: #FF6233;
              }
            }
          }
        }
      }
    }

  }

}