.aui {

  //Blue Theme
  .aimprosoft-blue-theme {

    background-color: rgba(100, 130, 198, 0.35);

    /*== Dockbar background ===*/
    &.dockbar-split {
      .dockbar {
        .navbar-inner {
          .nav {
            > li {
              background-color: #6482C6;
              > a {
                background-color: #6482C6;
                >span.user-notifications-count {
                  background-color: #6482C6;
                  border: 1px solid #3063c6;
                }
              }
            }
          }
          .nav-add-controls {
            > li {
              background-color: #6482C6;
              > a {
                background-color: #6482C6;
              }
            }
          }
        }
      }
    }

  }

}